body{
    text-align: justify;
    background-color: grey;
    display: flex;
    flex-direction: column;
    
    
}
/* Add a black background color to the top navigation */
.navbar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #1c0c49;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: rgb(175, 173, 173);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #261646;
    color: white;
  }

div.gallery img {
    width: 100%;
    height: auto;
  }
ul{
    text-align: left;
}
header, footer{
    background-color: rgba(19, 13, 48, 0.63);
    color: rgb(237, 237, 238);
    text-align: center;
    position: static;
    border: 3px, solid, white;
}
h1{
    border: 3px, solid, white;
    
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
    
}
