body{
    text-align: justify;
    background-color: grey;
    display: flex;
    flex-direction: column;
    
    
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #1c0c49;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(175, 173, 173);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #261646;
    color: white;
  }

div.gallery img {
    width: 100%;
    height: auto;
  }
ul{
    text-align: left;
}
  header, footer{
    background-color: rgba(19, 13, 48, 0.63);
    color: rgb(237, 237, 238);
    text-align: center;
    position: static;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
    
}

body {
    display: flex;
    flex-direction: column;
}
.logo {
    width: 40px;
    margin: 5px;
}
.right {
    padding: 20px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #1B1B1B;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
    color: rgb(211, 137, 17);
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;
    height: 60px;
}
.navbar a{
    text-decoration: none;
    color: rgb(211, 137, 17);
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
